.flex{ 
	display: flex;
	flex-direction: column;
}

.delete {
	background-color: rgb(255, 138, 138);
	color: whitesmoke;
}

.add {
	background-color: rgb(83, 255, 83);
	margin-bottom: 1rem;
	color: whitesmoke;
}

.add:disabled {
	background-color: rgb(255, 138, 138);
	color: whitesmoke;
}

.total {
	text-align: center;
	font-size: 2em;
}

.w-100 {
	width: 100%;
}

.checkbox {
	width: 2rem;
	height: 2rem;
}

.overflow {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}